.warranty-page {
  max-width: 1400px;
  margin: auto;
  font-size: 1.05rem;
  color: #333;
}

.highlight {
  background-color: #fff2cc;
  padding: 2px 4px;
  border-radius: 4px;
}

.step-connector {
  flex-grow: 1;
  height: 4px;
  background-color: #1a3b19;
}

.stepper-item {
  flex: 1;
}