/* [project]/src/app/styles/header.css [app-client] (css) */
nav ul.nav li.nav-item a {
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}

.main-header {
  background-color: #1a3b19;
  padding: .2rem 0;
  transition: all .3s ease-in-out;
  box-shadow: 0 4px 25px #000c;
}

.main-header.scrolled {
  padding: .4rem 0;
}

.logo {
  width: auto;
  height: 70px;
  transition: all .3s ease-in-out;
}

.logo-small {
  width: auto;
  height: 50px;
}

.set-logo-height {
  cursor: pointer;
  width: 110px;
  height: 90px;
}

.set-bg-header {
  background-color: #1a3b19 !important;
}

.menu-position {
  background: none;
  border: 1px solid #0000;
  padding: .5rem;
}

.menu-position:active, .menu-position:focus {
  outline: none;
  border: 1px solid #1a3b19 !important;
}

.menu-position:hover {
  border: 1px solid #1a3b19 !important;
}

.custom-nav .btn {
  color: #fff;
  background: none;
  border: none;
  transition: transform .2s;
}

.custom-nav .btn:hover {
  color: #ff4d4d;
  transform: rotate(90deg);
}

@media (width >= 768px) {
  .custom-nav {
    opacity: 1 !important;
    visibility: visible !important;
    pointer-events: auto !important;
    max-height: none !important;
    box-shadow: none !important;
    background-color: #0000 !important;
    display: flex !important;
    position: static !important;
    transform: none !important;
  }

  .custom-nav li.nav-item {
    padding: 0;
  }

  .custom-nav li.nav-item a {
    padding: .5rem 1rem;
    display: inline-block;
  }
}

@media (width <= 767px) {
  header .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .set-logo-height {
    cursor: pointer;
    width: 80px;
    height: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .menu-position {
    position: absolute;
    right: 0;
  }

  .custom-nav {
    z-index: 999;
    background-color: #f7931e;
    width: 250px;
    height: 100vh;
    margin: 0;
    transition: transform .4s;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    box-shadow: 2px 0 10px #0003;
  }

  .custom-nav.open {
    transform: translateX(0);
  }

  .custom-nav li.nav-item {
    text-align: left;
    padding: 15px;
  }

  .custom-nav li.nav-item a {
    width: 100%;
    padding: 12px 16px;
    display: block;
  }

  .custom-nav li.nav-item {
    opacity: 0;
    transition: all .2s;
    transform: translateX(-20px);
  }

  .custom-nav.open li.nav-item {
    opacity: 1;
    transform: translateX(0);
  }

  nav ul.nav li.nav-item a {
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
  }

  .custom-nav.open li.nav-item:first-child {
    transition-delay: .1s;
  }

  .custom-nav.open li.nav-item:nth-child(2) {
    transition-delay: .2s;
  }

  .custom-nav.open li.nav-item:nth-child(3) {
    transition-delay: .3s;
  }

  .custom-nav.open li.nav-item:nth-child(4) {
    transition-delay: .4s;
  }

  .custom-nav.open li.nav-item:nth-child(5) {
    transition-delay: .5s;
  }

  .custom-nav.open li.nav-item:nth-child(6) {
    transition-delay: .6s;
  }

  .custom-nav.open li.nav-item:nth-child(7) {
    transition-delay: .7s;
  }

  .custom-nav.open li.nav-item:nth-child(8) {
    transition-delay: .8s;
  }

  h1.fw-bold {
    margin: 0;
  }
}

.spinner-border {
  vertical-align: -.125em;
  border: .25em solid;
  border-right-color: #0000;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: .75s linear infinite spinner-border;
  display: inline-block;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.visually-hidden {
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  overflow: hidden !important;
}

.set-color-menu, .set-color-menu:hover {
  color: #c6fc2a !important;
}

/*# sourceMappingURL=src_app_styles_header_css_f9ee138c._.single.css.map*/