

@media (max-width: 767px) {
 .set-image-services{
    width: 350px;
}
}

.responsive-image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.responsive-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150vh;
  transition: background-image 0.5s ease-in-out;
}

/* Optional: tweak height or position for mobile */
@media (max-width: 768px) {
  .responsive-bg {
    height: 75vh;
    background-position: top;
  }
}

.product-image {
  margin-bottom: 1.5rem;
  /* width: 100%;
  max-width: 217px; */
  height: 180px;
  /* object-fit: contain; */
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 991.98px) {
  .product-image {
    max-width: 160px;
    height: 160px;
  }
}

@media (max-width: 767.98px) {
  .product-image {
    max-width: 140px;
    height: 140px;
  }
}

@media (max-width: 575.98px) {
  .product-card {
    padding: 1rem 0.5rem;
  }

  .product-image {
    max-width: 350px;
    height: 200px;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}